[Desktop Entry]
Type=Application
Name={{.Name}}
{{- if ne .GenericName ""}}
GenericName={{.GenericName}}{{end}}
Exec={{.Exec}} {{- .ExecParams}}
Icon={{.Name}}
{{- if ne .Comment ""}}
Comment={{.Comment}}{{end}}
{{- if ne .Categories ""}}
Categories={{.Categories}}{{end}}
Keywords={{if ne .Keywords ""}}{{.Keywords}}{{else}}fyne;{{end}}

{{if or (ne .SourceRepo "") (ne .SourceDir "") -}}
[X-Fyne Source]
Repo={{.SourceRepo}}
Dir={{.SourceDir}}

{{end -}}
