<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="icon.png">
		{{if not .IsReleased}}
			<script src="webgl-debug.js"></script>
		{{end}}
		{{if .HasWasm}}
			<script>
				var wasmBuild = true;
				if (window.chrome) {
					wasmBuild = false;
				}
			</script>
		{{else}}
			<script>var wasmBuild = false;</script>
		{{end}}
		{{if .HasGopherJS}}
			<script>var gopherJSBuild = true;</script>
		{{else}}
			<script>var gopherJSBuild = false;</script>
		{{end}}
		<script>
			function async_load(file, cb) {
				var d = document, t = 'script',
      			o = d.createElement(t),
      			s = d.getElementsByTagName(t)[0];
  				o.src = file;
  				o.addEventListener('load', function (e) { cb(e); }, false);
  				s.parentNode.insertBefore(o, s);
			}

			function webgl_support () {
					try {
					var canvas = document.createElement('canvas');
					return !!window.WebGLRenderingContext &&
						(canvas.getContext('webgl') || canvas.getContext('experimental-webgl'));
				} catch(e) {
					return false;
				}
			}

			function download_application() {
				var main = document.getElementById("main");

				if (webgl_support()) {
					if (wasmBuild && WebAssembly) {
						main.innerHTML = "Downloading wasm_exec.js"
						async_load("wasm_exec.js", function(){
							// WebAssembly.instantiateStreaming is not currently available in Safari
							if (WebAssembly && !WebAssembly.instantiateStreaming) { // polyfill
								WebAssembly.instantiateStreaming = async (resp, importObject) => {
									const source = await (await resp).arrayBuffer();
									return await WebAssembly.instantiate(source, importObject);
								};
							}

							main.innerHTML = "Downloading web assembly file.";

							const go = new Go();
							WebAssembly.instantiateStreaming(fetch("{{.WasmFile}}"), go.importObject).then((result) => {
								main.innerHTML = "";
								go.run(result.instance);
							});
						})
					} else if (gopherJSBuild) {
						main.innerHTML = "Downloading GopherJS file.";

						async_load("{{.GopherJSFile}}", function(){
							main.innerHTML = "";
						});
					} else {
						main.innerHTML = "WebAssembly is not supported in your browser";
					}
				} else {
					main.innerHTML = "WebGL is not supported in your browser";
				}
			}
		</script>
	</head>
	<body onload="download_application()">
		<div id="main"></div>
		<noscript>Javascript need to be enable for this application to work.</noscript>
	</body>
</html>
