name: Mobile Tests
on: [push, pull_request]
permissions:
  contents: read

jobs:
  mobile_tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go-version: ['1.19.x', '1.23.x']

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - uses: WillAbides/setup-go-faster@v1
      with:
        go-version: ${{ matrix.go-version }}

    - name: Get dependencies
      run: sudo apt-get update && sudo apt-get install gcc libegl1-mesa-dev libgles2-mesa-dev libx11-dev xorg-dev

    - name: Tests
      run: go test -test.benchtime 10ms -tags "ci mobile" ./...
