name: Mobile Tests
on: [push, pull_request]
permissions:
  contents: read
env:
  CC: "clang"

jobs:
  mobile_tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go-version: ["", "stable"]
        include:
          - os: ubuntu-latest
            runner: xvfb-run

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          go-version-file: "go.mod"

      - name: Get dependencies
        run: sudo apt-get update && sudo apt-get install clang libegl1-mesa-dev libgles2-mesa-dev libx11-dev xorg-dev

      - name: Tests
        run: go test -race -tags mobile,ci,migrated_fynedo ./...

      - name: Compile
        working-directory: cmd/fyne_demo
        run: go build -tags mobile
