name: Web Tests
on: [push, pull_request]
permissions:
  contents: read

jobs:
  web_tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - uses: WillAbides/setup-go-faster@v1
      with:
        go-version: '1.19.x'

    - name: Get dependencies
      run: sudo apt-get update && sudo apt-get install gcc libgl1-mesa-dev libegl1-mesa-dev libgles2-mesa-dev libx11-dev xorg-dev

    - name: Build WebAssembly binary
      env:
        GOOS: js
        GOARCH: wasm
      working-directory: cmd/fyne_demo
      run: go build
