name: Web Tests
on: [push, pull_request]
permissions:
  contents: read

jobs:
  web_tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Build WebAssembly binary
        env:
          GOOS: js
          GOARCH: wasm
        working-directory: cmd/fyne_demo
        run: go build
